.plansScreen__plan {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
    transition: all 0.1s;
    cursor: default;
}

.plansScreen__plan:hover {
    opacity: 1;
}

.plansScreen__plan > button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    outline: none;
    cursor: pointer;

}

.plansScreen__plan > button:active {
    box-shadow: 1px 1px 15px -2px #000000;
    background-color: #A0060E;
}

.planScreen__plan--disabled > button {
    background-color: gray !important;
}

.plansScreen__p {
    cursor: default;
}