/*.signupScreen {*/
/*    max-width: 300px;*/
/*    padding: 70px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    background: rgba(0, 0, 0, 0.88);*/
/*    position: relative;*/
/*    height: 100%;*/
/*}*/


.signupScreen__body {
    max-width: 300px;
    padding: 70px;
    position: absolute;
    top: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-right: 35%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.88);
}

.signupScreen__body > form {
    display: grid;
    color: #fff;
    flex-direction: column;
}


























